/* .shop{
  background-color:#3c3838;
  height: 250px;
  width:auto;
  text-align: center;
  margin-left:0px;
} */
/* .shoph1{
  margin-top: 60px;
  margin-bottom: 6px;
  padding-top: 60px;
  font-size: 55px;
}
.shoph6{
  font-size:18px;
} */

/* .productsale{
  padding: 0px;
  margin: 0px;
  padding-top: 30px;
  font-size: 25px;
  color: #9f9b9b;
} */


/* .salebutton{
  background-color: rgb(119, 110, 116);
  color:white;
  width: 50px;
  margin:4px;
  margin-left: 160px;
  position: absolute;
} */
/* .discount{
  color:grey;
  text-decoration: line-through;
} */
/* .productname h4{
  font-size: 20px;
  margin-bottom: 10px;
} */

/* .star{
 margin-top: 6px;
} */


